<div class="dashboard-wrapper">

  <!-- 1. Greeting & Mood -->
  <section class="dashboard-top">
    <h2 class="greeting">Hi, {{ userName | titlecase }} 👋</h2>
    <div class="dashboard-center-wrapper">
      <div class="center aura" [ngClass]="auraClass" *ngIf="snapshot?.latestEmotionLog as mood">
        <div class="emoji" [ngClass]="mood.emotion">{{ moodEmoji }}</div>
        <div class="mood-text">You’ve been feeling {{ mood.emotion }}</div>
        <div class="time-text">{{ moodRelativeTime }}</div>
      </div>
    </div>
  </section>

  <!-- 2. Action Buttons -->
  <!-- <section class="dashboard-actions-wrapper"> -->
  <div class="dashboard-actions">
    <button class="action-button" (click)="sendHug()">🤗 Send a Hug</button>
    <button class="action-button" routerLink="/log">📝 Log a Feeling</button>
    <button class="action-button" (click)="router.navigate(['/insights'])"> 📊 View Weekly Insights</button>
  </div>

  <div class="hug-feedback" *ngIf="hugStatusMessage">
    {{ hugStatusMessage }}
  </div>
  <!-- </section> -->

  <section class="connection-wrapper">
    <h4 class="section-heading">Today’s Connection</h4>
    <app-hug-tracker (hugUpdated)="refreshLastHugTime()"></app-hug-tracker>
    <div class="partner-status" *ngIf="snapshot?.hugInteraction">
      <div *ngIf="lastHugTime as hugTime; else noHugs">
        💞 Last shared hug: {{ getRelativeTime(hugTime) }}
      </div>
      <ng-template #noHugs>
        🤗No synced hugs just yet — maybe later today 💞
      </ng-template>

      <div *ngIf="snapshot.partnerEmotion; else noPartner">
        Your partner is feeling {{ snapshot.partnerEmotion.emotion }}
        {{ getEmojiForEmotion(snapshot.partnerEmotion.emotion) }} today
      </div>
      <ng-template #noPartner>
        Your partner hasn’t checked in yet 🐻
      </ng-template>

    </div>

  </section>

  <!-- <section class="dashboard-insights">
    <button class="insights-button" (click)="router.navigate(['/insights'])">
      📊 View Weekly Insights
    </button>
  </section> -->

  <footer class="dashboard-footer">
    <button (click)="router.navigate(['/settings'])">⚙️ User Settings</button>
    <button (click)="onLogout()">🚪 Logout</button>
  </footer>

  <!-- <section class="dashboard-settings">
    <button type="button" (click)="router.navigate(['/settings'])">⚙️ User Settings</button>
    <button type="button" (click)="onLogout()">🚪 Logout</button>
  </section> -->

</div>